%section#links{'ng-controller' => 'LinksCtrl'}
  .row
    .twelvecol.last
      %h3 Luke Wendling - Full Stack Senior Engineer. Ruby on Rails. Node.js. Javascript. Coffeescript. Heroku.
  .row
    .twelvecol.last
      %p
        %a{href: '{{links.github.url}}', target: '_blank'} {{links.github.name}}
  .row
    .twelvecol.last
      %p
        %a{href: '{{links.resume.url}}', target: '_blank'} {{links.resume.name}}
  .row
    .twelvecol.last
      %p
        %a{href: '{{links.linkedin.url}}', target: '_blank'} {{links.linkedin.name}}
  .row
    .twelvecol.last
      %p
        %a{href: '{{links.stats.url}}', target: '_blank'} {{links.stats.name}}
  .row
    .twelvecol.last
      %p
        %a{href: '{{links.cover.url}}', target: '_blank'} {{links.cover.name}}
  .row
    .twelvecol.last
      %p
        %a{href: '{{links.elevator.url}}', target: '_blank'} {{links.elevator.name}}
  .row
    .tencol
      %p
        %img{src: 'images/austintx_paddle.png', alt: 'Luke Wendling, Full Stack Senior Engineer. Ruby on Rails. Node.js. Javascript. Coffeescript. Heroku.'}
    .twocol.last
      /
        %a{href: "http://www.w3.org/html/logo/", id: "html5_logo"}
          %img{src: "http://www.w3.org/html/logo/badge/html5-badge-v-css3-semantics.png", alt:"HTML5 Powered with CSS3 / Styling, and Semantics", title:"HTML5 Powered with CSS3 / Styling, and Semantics"}
