%section#links
  %ul
    %li
      %a{href: 'http://linkedin.com/in/lukewendling'} LinkedIn
    %li
      %a{href: 'http://tinyurl.com/lukewendling'} Resume
    %li
      %a{href: 'http://vizualize.me/lukewendling'} Vizualize
    %li
      %a{href: 'http://plus.google.com/u/0/104918642118115385236'} Google+
    %li
      %a{href: 'http://facebook.com/lukewendling'} Facebook
    %li
      %a{href: 'http://github.com/lukewendling'} GitHub

