%section#links
  .row
    .twelvecol.last
      %a{href: "http://www.w3.org/html/logo/", id: "html5_logo"}
        %img{src: "http://www.w3.org/html/logo/badge/html5-badge-v-css3-semantics.png", alt:"HTML5 Powered with CSS3 / Styling, and Semantics", title:"HTML5 Powered with CSS3 / Styling, and Semantics"}
  .row
    .twelvecol.last
      %p
        %a{href: 'http://linkedin.com/in/lukewendling'} LinkedIn
  .row
    .twelvecol.last
      %p
        %a{href: 'http://tinyurl.com/lukewendling'} Resume
  .row
    .twelvecol.last
      %p
        %a{href: 'http://vizualize.me/lukewendling'} Vizualize
  .row
    .twelvecol.last
      %p
        %a{href: 'http://github.com/lukewendling'} GitHub
  .row
    .twelvecol.last
      %p
        %a{href: 'http://daytum.com/lukewendling'} Stats
  .row
    .twelvecol.last
      %p
        %a{href: 'http://plus.google.com/u/0/104918642118115385236'} Google+
  .row
    .twelvecol.last
      %p
        %img{src: 'images/austintx_paddle.png', alt: 'Luke Wendling, Austin TX '}
