!!!
%html
  %head
    %title
      Luke Wendling - Sr. Ruby on Rails Application Architect, Austin TX. Outdoors, running, circuit workout.
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{href: 'http://fonts.googleapis.com/css?family=Nosifer', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'application.css', rel: 'stylesheet', type: 'text/css'}
  %body
    #container
      %header
        %a{href: "http://www.w3.org/html/logo/", id: "html5_logo"}
          %img{src: "http://www.w3.org/html/logo/badge/html5-badge-v-css3-semantics.png", width: "38", height:"138", alt:"HTML5 Powered with CSS3 / Styling, and Semantics", title:"HTML5 Powered with CSS3 / Styling, and Semantics"}
      
      = yield
      
      %footer
