!!!
%html
  %head
    %title
      Luke Wendling - Sr. Ruby on Rails Application Architect, Austin TX. Outdoors, running, circuit workout.
    %meta{"http-equiv"=>"Content-Type", content: "text/html; charset=utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    %link{href: 'http://fonts.googleapis.com/css?family=Nosifer', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'stylesheets/application.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: 'stylesheets/grid/1140.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: 'black_sm.jpg', rel: 'apple-touch-icon'}
    %script{src: 'javascripts/grid/css3-mediaqueries.js', type: 'text/javascript'}

  %body
    #container.container
      %header
      
      = yield
      
      %footer
