body{font-family:'Ubuntu', sans-serif; font-size:1.9em; line-height: 2em}
#container {
  /* flexbox setup */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
#links{cursive; border: 1px solid black; border-radius:10px; moz-border-radius:10px; webkit-border-radius:10px; padding: 5px}
#html5_logo{}
a {color: black}
a:visited {color: black}
a:hover {color: red}
